<div class="row bg-white pl-2 pr-2 pb-5">
  <div class="col">
    <mat-accordion>
      <mat-expansion-panel
        (afterExpand)="opened(index)"
        (closed)="closed()"
        *ngFor="let id of listOfPersonsIds | slice : firstPersonsIndex : lastPersonsIndex; let index = index"
        class="alert-info">
        <mat-expansion-panel-header class="alert-secondary row">
          <mat-panel-title class="col-9">
            <strong>{{ appellative[person(id).gender] }}</strong>&nbsp;
            {{ person(id).name.firstName }} {{ person(id).name.lastName }} is
            {{ person(id).age() }} years old and has
            {{ listOfObjectsForAPerson(id).length }} beloved objects.
          </mat-panel-title>
          <mat-panel-description class="col-3">
            Click to see more...
          </mat-panel-description>
         </mat-expansion-panel-header>
         <div class="container">
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                First Name:
              </div>
              <div
                class="col pt-1 pb-1 border border-dark border-bottom-0 bg-white">
                {{ person(id).name.firstName }}
              </div>
            </div>
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                Middle Name:
              </div>
              <div
                class="col pt-1 pb-1 border border-dark border-bottom-0 bg-white">
                {{ person(id).name.middleName }}
              </div>
            </div>
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                Last Name:
              </div>
              <div
                class="col pt-1 pb-1 border border-dark border-bottom-0 bg-white">
                {{ person(id).name.lastName }}
              </div>
            </div>
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                Gender:
              </div>
              <div
                class="col pt-1 pb-1 border border-dark border-bottom-0 bg-white">
                {{ person(id).gender }}
              </div>
            </div>
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                Address:
              </div>
              <div
                class="col pt-1 pb-1 border border-dark border-bottom-0 bg-white">
                {{ person(id).address }}
              </div>
            </div>
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                Phone:
              </div>
              <div
                class="col pt-1 pb-1 border border-dark border-bottom-0 bg-white">
                {{ person(id).phone }}
              </div>
            </div>
            <div class="row">
              <div
                class="col-2 text-right bg-success pt-1 pb-1 text-white">
                Objects
              </div>
              <div class="col pt-1 pb-1 border border-dark bg-white">
                <div *ngIf="index === indexOpenedPerson">
                  <div *ngFor="let objectId of listOfObjectsForAPerson(id) | slice : firstObjectsIndex : lastObjectsIndex">
                    {{ object(objectId).type }} {{ object(objectId).color }}
                  </div>
                  <fg-navigator
                    [numberOfElements]="listOfObjectsForAPerson(id).length"
                    [pageSizeOptions]="[5, 10, 15]"
                    [optionIndex]="5"
                    [pageIndex]="0"
                    (navigationBorders)="navigateObjects($event)">
                  </fg-navigator>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 pt-3 pb-1">
                <button class="btn btn-outline-info btn-sm btn-block">
                  Edit person
                </button>
              </div>
              <div class="col-2 pt-3 pb-1">
                <button
                  (click)="delete(id)"
                  class="btn btn-outline-danger btn-sm btn-block">
                  Delete person
                </button>
              </div>
            </div>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<fg-navigator
  [showGoToPage]="true"
  [showFirstLastButtons]="true"
  [numberOfElements]="numberOfElements"
  [pageSizeOptions]="pageSizeOptions"
  [optionIndex]="optionIndex"
  [pageIndex]="pageIndex"
  (navigationBorders)="navigatePersons($event)">
</fg-navigator>