<div class="row bg-white">
  <div class="col">
    <div class="container ">
      <div class="row">
        <div class="col-2 pb-3 pt-3">
          <button class="btn btn-outline-primary btn-block btn-sm">Add new person</button>
        </div>
        <div class="col-2 pb-3 pt-3">
          <button class="btn btn-outline-primary btn-block btn-sm">Add new object</button>
        </div>
        <div class="col-2 pb-3 pt-3">
          <button class="btn btn-outline-danger btn-block btn-sm">Delete all persons</button>
        </div>
        <div class="col-2 pb-3 pt-3">
          <button class="btn btn-outline-danger btn-block btn-sm" >Delete all objects</button>
        </div>
      </div>
    </div>
  </div>
</div>