<div class="row bg-white">
  <div class="col text-left">
    <mat-paginator
      [showFirstLastButtons]="showFirstLastButtons"
      [length]="numberOfElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      (page)="changePage($event)">
    </mat-paginator>
  </div>
  <div
    *ngIf="showGoToPage"
    class="col-2">
    <label
      for="goToPage"
      class="go-to-page-label">
      Go to page:&nbsp;
    </label>
    <mat-form-field>
      <input
        id="goToPage"
        class="go-to-page-field"
        type="number"
        min="1"
        [max]="numberOfPages()"
        matInput
        [ngModel]="pageIndex"
        (ngModelChange)="goToPage($event)">
    </mat-form-field>
  </div>
</div>