<div class="row">
  <div class="col text-warning bg-primary display-4 pb-4 pt-3 text-center">
    <strong>Persons And Their Beloved Objects</strong>
  </div>
</div>
<div class="row bg-white pb-3 pt-3">
  <div class="col">
    <mat-accordion>
      <mat-expansion-panel 
        *ngFor="let id of listOfPersonsIds"
        class="alert-info">
        <mat-expansion-panel-header class="alert-danger">
          <mat-panel-title>
            {{ id }} 
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>          
        </mat-expansion-panel-header>
        <pre>
          <!-- {{ person(id) | json }} -->
        </pre>
       
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>